
{{> header}}
<form name="form" ACTION="{{STARTURL}}" METHOD="POST" >
<input TYPE="HIDDEN" NAME="STARTPARAMS"  	VALUE="{{STARTPARAMS}}">
</form>
<script>
	document.form.submit();
</script>
</form>
{{> footer}}